# This is a configuration file for Ingress Ice (github.com/nibogd/ingress-ice)
# Insert your settings here (after '=' without spaces). Only first three settings (login, password and area link) are mandatory.
#
# After modifying this file, save it and close the editor. Ice will start automatically.

[ice]
#> Your Google login and password
login=
password=
#> Your area link. To get it, visit http://ingress.com/ingress , scroll the map to your location and press [LINK] at the top right corner. Copy that link and paste it here.
#> e. g. https://www.ingress.com/intel?ll=53.502328,49.41516&z=14
area=

[ice-optional]
#> The delay between taking screenshots in milliseconds (1 second = 1000 milliseconds)
delay=300000
#> Minimal and maximal portal levels to display
minlevel=1
maxlevel=8
#> Width and height of the resulting screenshot
width=1366
height=768
#> Inject IITC? (true or false)
iitc=false
#> Put a timestamp on your screenshots? (true or false)
timestamp=true
#> Hide Resistance portals/links/fields, Enlightened portals/links/fields, links, fields respectively? (true or false)
hideRes=false
hideEnl=false
hideLink=false
hideField=false

[cookies]
#> If set, will use cookies for authentication instead of login/password
SACSID=
CSRD=

[version]
version=40

